/* Aquí va nuestro código para refinar estilos de la vista solicitada. */
@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Light.ttf");
}

.navbar{	
	margin-bottom: 0px;
	padding: 35px;
}

.letra{
	font-size: 1.5em;
	font-family: OpenSans;	    
}

.app-titulo{
	font-size: 3.5em;
	font-family: OpenSans;
    display: inline;
}

.image-responsive{
	width: 100%;
}

.color{
	background: #f7f8fa;
}

.app-footer{	
	background: #f7f8fa;
	padding: 50px;
}
