header{
	background-color:#1F2F39;
	color: #fff;
}

.main{
	background-color: #FED78E;
}

.submenu{
	background-color: #AEA3B0;
}

.cafecito{
	background-color:#AE8A5B ;
}

.rosa{
	background-color: pink;
}